<%- include('composants/head') %>
<body>
 <%- include('composants/entete') %>
 <main class="content">
 <h1>Accueil</h1>
 <p>Bienvenue a l'atelier Node.js</p>
 </main>
 <%- include('composants/footer') %>
</body>
</html>