*{
    font-family: 'Roboto', sans-serif;
}

#mon_formulaire{
    visibility: hidden;
}
table{
	margin: 20px auto;
    border: 2px grey solid;
    border-collapse: collapse;
}

td, th{
    border: 2px grey solid;
    padding: 30px;
}

th{
    background-color: rgb(195, 200, 255) ;
}

th a {
    text-decoration: none;
}


header, form, h1, p, footer{
    margin: 0 auto;
    text-align: center;
}

li{
    list-style-type: none;
}

nav{
    margin: 20px auto;
}

nav a{
    font-size: 2em; 
}

h1, p{
    margin: 20px auto;
}

tbody{ 
    background: rgb(195, 233, 223); 
} 
   
   
  input{ 
    margin-bottom: 1em;
  }




ul li a{

    text-decoration: none;
    color: rgb(31, 31, 31);

}
ul li a:hover{
        color: rgb(114, 225, 253);

 }

  

.Accueil, .Adresses, .Ajouter, .Detruire, .Trier, .Sauver {
    border-style: outset;
    background-color: darkgrey;
    text-decoration: none;
    color: white;
}

.Accueil:hover, .Adresses:hover, .Ajouter:hover, .Detruire:hover, .Trier:hover .Sauver:hover {
    
     background-color: rgb(195, 200, 255) ;
    
}